.vertical__Container__Wrapper{
    margin: 20px 15px 20px 15px;
}

.vertical_Container_Title{
    padding: 5px 15px 15px 20px;
    overflow: auto;
}

.vertical__Container{
    background-color: white;
    /* background-image: linear-gradient(  #6930C3, #7400B8); */
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* app-film-card:hover{
    border-radius: 6px;
    transform: scale(1.04);
    background-color: rgba(0,0,0,0.12);
} */

.card_Wrapper{
    border-radius: 6px;
}

.card_Wrapper--removing{
    border-radius: 6px;
}

.card_Wrapper:hover{
    transform: scale(1.03);
}

.card_Wrapper--removing:hover{
    transform: scale(1.03);
    background-color: rgba(255,0,0,0.12);
}

.vertical_Container_Buttons_Wrapper{
    display: inline;
    float: right;
    vertical-align: baseline;
}

.vertical__Container_Add{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    color: gray;
    /* float: right; */
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vertical__Container_Remove{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    color: gray;    
    border: none;
    /* float: right; */
    cursor: pointer;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vertical__Container_DownloadPDF{
    margin-left: 20px;
    cursor: pointer;
    padding-top: 6px;
    font-size: 14px;
    color: gray;    
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vertical__Container_DownloadPDF:disabled{
    color: rgb(197, 197, 197);
    cursor: unset;
}

.vertical__Container_Search{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    font-size: 14px;
    margin-left: 20px;
    height: 25px;
    color: gray;
    float: right;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#searchInput{
    vertical-align: text-bottom;
    text-indent: 2px;
    /* font-weight: ; */
    margin-bottom: 1px;
}

#lupa{
    margin-top: 1px;
    margin-right: 2px;
    height: 75%;
}

.vertical__Container_Search input{
    border: none;
    outline: none;
}

.vertical__Container_DownloadPDF:hover:enabled{
    color: black;
}

.vertical__Container_Remove:hover{
    color: black;
}

.vertical__Container_Add:hover{
    color: black;
}

.vertical__Container__Info{
    display: flex;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #fa4a4a;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vertical__Container__Input{
    display: flex;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vertical__Container__Form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.vertical__Container__Form > div{
    padding-top: 10px;
    padding-bottom: 10px;
}

#titleInput{
    margin-right: 15px;
}

.button{
    cursor: pointer;
    /* font-family: 'Lato', sans-serif; */
}

label{
    padding-right: 5px;
}

#emptyContainer{
    text-align: center;
}

#tableToPdf{
    display: none;
}

#tableToPdf table{
    border-collapse: collapse;
    width: 100%;
}

#tableToPdf td, #tableToPdf th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableToPdf tr:nth-child(even){
    background-color: #f2f2f2;
}


#tableToPdf th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d8922a;
    color: white;
}

@media screen and (max-width: 576px){

    .vertical_Container_Title > b{
        display: none;
    }

    .vertical__Container_Title{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vertical__Container_Search{
        margin-bottom: 15px;
        width: 100%;
        /* margin-left: 50%;
        margin-bottom: 15px; */
    }

    .vertical_Container_Buttons_Wrapper{
        width: 100%;
    }

}